In [ ]:
mysql:

workbench/jupyter notebook
relational database
structured data
tables/relations

In [ ]:
mongoDB:

compass/jupyter notebook
non-relational database
unstrutured data
json >> dictionary >> key:value

In [ ]:
emp:
    empid,empname,salary,loc   contact
    1001  rahul   70000  pune  no field
    1002  rohit   60000  pune 8983720070
    1003  snehal  '4000' pune 
    1004  dhiraj  50000  pune  mob no/email

In [ ]:
{'contact':{'mobno':value,'email':value}}

In [ ]:
databases >> database >> tables      >> rows     and columns
database  >> database >> collections >> document      keys

In [3]:
import pandas as pd
import pymongo

In [2]:
client=pymongo.MongoClient('mongodb://localhost:27017')
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

### operations

In [ ]:
1. create database
2. create collection
3. add document
4. read data
5. update data
6. delete data

### 1. create database/use database

In [4]:
db=client['stud_data']
db

Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stud_data')

In [5]:
client.list_database_names()

['ML', 'admin', 'config', 'local']

### 2.create collection

In [6]:
coll=db['student']
coll

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'stud_data'), 'student')

In [7]:
db.list_collection_names()

[]

### 3. insert document

In [ ]:
insert_one() : insert single document
insert_many(): insert multiple documents

#### 1. insert_one()

In [ ]:
collection_name.insert_one({key:value})

In [8]:
coll.insert_one({'rollno':101,'studname':'rahul','cgpa':7,'loc':'pune'})

In [9]:
db.list_collection_names()

['student']

In [10]:
client.list_database_names()

['ML', 'admin', 'config', 'local', 'stud_data']

In [11]:
coll.insert_one({'rollno':101,'studname':'rohit','cgpa':8,'loc':'pune'})

In [12]:
coll.insert_one({'rollno':102,'studname':'snehal','cgpa':'6',
                 'loc':'mumbai','contact':8983720070})

In [13]:
coll.insert_one({'rollno':103,'studname':'dhiraj','cgpa':7,
                 'loc':'mumbai',
                 'contact':{'mobno':8983720070,'email':'dhiraj@gmail.com'}})

#### 2. insert_many()

In [ ]:
collection_name.insert_many([{},{}])

In [14]:
coll.insert_many([{'rollno':104,'studname':'ashish','cgpa':6,'loc':'mumbai'},
                {'rollno':105,'studname':'niraj','cgpa':7}])

### read data

In [ ]:
find_one(): read single document
find():     read multiple documents

#### 1. find_one()

In [ ]:
collection_name.find_one({filter condition},{select})
without filter condition: retruns first document of collection
with filter condition   : retruns the first matched document

#### 1. find_one()

In [15]:
coll.find_one({})

{'_id': ObjectId('63db2aefe4fd2dc734acea3f'),
 'rollno': 101,
 'studname': 'rahul',
 'cgpa': 7,
 'loc': 'pune'}

In [16]:
coll.find_one({},{'_id':0})

{'rollno': 101, 'studname': 'rahul', 'cgpa': 7, 'loc': 'pune'}

In [17]:
coll.find_one({},{'_id':0,'loc':0})

{'rollno': 101, 'studname': 'rahul', 'cgpa': 7}

In [18]:
coll.find_one({},{'loc':1})

{'_id': ObjectId('63db2aefe4fd2dc734acea3f'), 'loc': 'pune'}

In [19]:
coll.find_one({},{'loc':1,'_id':0})

{'loc': 'pune'}

In [20]:
coll.find_one({},{'loc':1,'_id':0,'studname':0})

OperationFailure: Cannot do exclusion on field studname in inclusion projection, full error: {'ok': 0.0, 'errmsg': 'Cannot do exclusion on field studname in inclusion projection', 'code': 31254, 'codeName': 'Location31254'}

In [ ]:
20 keys : read 4 keys : specify 1 for these 4 keys
20 keys : skip 4 keys : specify 0 for these 4 keys

In [21]:
coll.find_one({'loc':'mumbai'})

{'_id': ObjectId('63db2bc3e4fd2dc734acea41'),
 'rollno': 102,
 'studname': 'snehal',
 'cgpa': '6',
 'loc': 'mumbai',
 'contact': 8983720070}

In [23]:
coll.find_one({'loc':'mumbai'},{'_id':0,'loc':0})

{'rollno': 102, 'studname': 'snehal', 'cgpa': '6', 'contact': 8983720070}

In [24]:
coll.find_one({'loc':'mumbai'},{'_id':0,'loc':1})

{'loc': 'mumbai'}

In [ ]:
$gt: greater than
$lt: less than
$gte: greater tahn equal to
$lte: less than equal to
$ne : not equal to
$in : speicify multiple possible values

In [28]:
coll.find_one({'cgpa':{'$lt':7}},{'_id':0,'loc':1})

{'loc': 'mumbai'}

In [30]:
coll.find_one({'cgpa':{'$gt':7}},{'_id':0})

{'rollno': 101, 'studname': 'rohit', 'cgpa': 8, 'loc': 'pune'}

In [31]:
coll.find_one({'cgpa':6,'rollno':104},{'_id':0})

{'rollno': 104, 'studname': 'ashish', 'cgpa': 6, 'loc': 'mumbai'}

In [32]:
coll.find_one({'cgpa':8,'rollno':104},{'_id':0})

In [33]:
coll.find_one({'$or':[{'cgpa':8},{'rollno':104}]})

{'_id': ObjectId('63db2b93e4fd2dc734acea40'),
 'rollno': 101,
 'studname': 'rohit',
 'cgpa': 8,
 'loc': 'pune'}

#### 2. find()

In [ ]:
collection_name.find({filter condition},{sleect})
without filter condition: retruns all documents of collection
    ## select * from table_name;
with filter condition   : retruns all matched document
    ## select * from table_name where condition;

In [35]:
data=coll.find({},{'_id':0})
list(data)

[{'rollno': 101, 'studname': 'rahul', 'cgpa': 7, 'loc': 'pune'},
 {'rollno': 101, 'studname': 'rohit', 'cgpa': 8, 'loc': 'pune'},
 {'rollno': 102,
  'studname': 'snehal',
  'cgpa': '6',
  'loc': 'mumbai',
  'contact': 8983720070},
 {'rollno': 103,
  'studname': 'dhiraj',
  'cgpa': 7,
  'loc': 'mumbai',
  'contact': {'mobno': 8983720070, 'email': 'dhiraj@gmail.com'}},
 {'rollno': 104, 'studname': 'ashish', 'cgpa': 6, 'loc': 'mumbai'},
 {'rollno': 105, 'studname': 'niraj', 'cgpa': 7}]

In [36]:
data=coll.find({'loc':'mumbai'},{'_id':0})
list(data)

[{'rollno': 102,
  'studname': 'snehal',
  'cgpa': '6',
  'loc': 'mumbai',
  'contact': 8983720070},
 {'rollno': 103,
  'studname': 'dhiraj',
  'cgpa': 7,
  'loc': 'mumbai',
  'contact': {'mobno': 8983720070, 'email': 'dhiraj@gmail.com'}},
 {'rollno': 104, 'studname': 'ashish', 'cgpa': 6, 'loc': 'mumbai'}]

In [37]:
data=coll.find({'cgpa':7},{'_id':0})
list(data)

[{'rollno': 101, 'studname': 'rahul', 'cgpa': 7, 'loc': 'pune'},
 {'rollno': 103,
  'studname': 'dhiraj',
  'cgpa': 7,
  'loc': 'mumbai',
  'contact': {'mobno': 8983720070, 'email': 'dhiraj@gmail.com'}},
 {'rollno': 105, 'studname': 'niraj', 'cgpa': 7}]

In [38]:
data=coll.find({'rollno':101},{'_id':0})
list(data)

[{'rollno': 101, 'studname': 'rahul', 'cgpa': 7, 'loc': 'pune'},
 {'rollno': 101, 'studname': 'rohit', 'cgpa': 8, 'loc': 'pune'}]

In [39]:
data=coll.find({'$or':[{'cgpa':8},{'rollno':104}]})
list(data)

[{'_id': ObjectId('63db2b93e4fd2dc734acea40'),
  'rollno': 101,
  'studname': 'rohit',
  'cgpa': 8,
  'loc': 'pune'},
 {'_id': ObjectId('63db2ddfe4fd2dc734acea43'),
  'rollno': 104,
  'studname': 'ashish',
  'cgpa': 6,
  'loc': 'mumbai'}]

In [43]:
data=coll.find({'rollno':{'$in':[102,103,104]}},{'_id':0})
list(data)

[{'rollno': 102,
  'studname': 'snehal',
  'cgpa': '6',
  'loc': 'mumbai',
  'contact': 8983720070},
 {'rollno': 103,
  'studname': 'dhiraj',
  'cgpa': 7,
  'loc': 'mumbai',
  'contact': {'mobno': 8983720070, 'email': 'dhiraj@gmail.com'}},
 {'rollno': 104, 'studname': 'ashish', 'cgpa': 6, 'loc': 'mumbai'}]

In [44]:
data=coll.find({'rollno':{'$in':[102,103,104]}},{'_id':0})
data1=list(data)
df=pd.DataFrame(data1)
df

,rollno,studname,cgpa,loc,contact
0,102,snehal,6,mumbai,8983720070
1,103,dhiraj,7,mumbai,"{'mobno': 8983720070, 'email': 'dhiraj@gmail.c..."
2,104,ashish,6,mumbai,NaN

### update data

In [ ]:
update_one() : update a single document
update_many(): update multiple documents

#### 1. update_one()

In [ ]:
collection_name.update_one({filter condition},{'$set':{'key':new value}})
without filter condition: update first document of collection
with filter condition   : update the first matched document

In [45]:
coll.update_one({},{'$set':{'rollno':106}})

In [46]:
coll.update_one({},{'$set':{'contact':9028299590}})

In [47]:
coll.update_one({'loc':'mumbai'},{'$set':{'cgpa':6}})

#### 2. update_many()

In [ ]:
collection_name.update_many({filter condition},{'$set':{'key':new value}})
without filter condition: update all documents of collection
    ## update table_name set column=value;
with filter condition   : update all matched document
    ## update table_name set column=value where condition;

In [49]:
coll.update_many({},{'$set':{'branch':'comp'}})

In [50]:
coll.update_many({},{'$set':{'loc':'chennai'}})

In [52]:
coll.update_many({'rollno':{'$in':[104,105]}},{'$set':{'loc':'pune'}})

In [55]:
coll.update_many({'cgpa':7},{'$set':{'loc':'mumbai'}})

### delete data

In [ ]:
delete_one(): delete single document
delete_many(): delete multiple documents

#### 1. delete_one()

In [ ]:
collection_name.delete_one({filter condition})
without filter condition: delete first document of collection
with filter condition   : delete the first matched document

In [56]:
coll.delete_one({'cgpa':8})

In [57]:
coll.delete_one({})

#### delete_many()

In [ ]:
collection_name.delete_many({filter condition})
without filter condition: delete all documents of collection
    ## delete from table_name;
with filter condition   : delete all matched document
     ## delete from table_name where condition;

In [58]:
coll.delete_many({'cgpa':7})

In [59]:
coll.delete_many({})

### delete collection

In [60]:
coll.drop()

### delete database

In [61]:
client.drop_database('stud_data')

#### import csv file into mongo collection

In [64]:
df=pd.read_csv('emp.csv')
data=df.to_dict(orient='records')
db=client['company']
db.emp.insert_many(data)

#### import json into mongo collection

In [65]:
import json

In [67]:
f=open('iris.json')
data=json.load(f)
db.iris.insert_many(data)